:root {
  --primary: var(--cyan-6);
  --text-default: var(--slate-gray-2);
  --text-heading: var(--slate-gray-0);
  --bg-default: inherit;
  --bg-secondary: var(--slate-gray-11);
}

@media (prefers-color-scheme: dark) {
    :root {
    --text-default: var(--slate-gray-9);
    --text-heading: var(--slate-gray-11);
    --bg-default: var(--slate-gray-0);
    --bg-secondary: var(--slate-gray-1);
  }
}

/* Setup */
html {
    font-feature-settings: "dlig", "ss07", "ss08", "cv01", "cv02", "cv03", "cv04", "cv05", "cv10"
}

html, body {
    scroll-behavior:smooth;
    line-height: var(--line-height-body);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height-heading);
}

a {
  color: var(--primary);
}

/* Helpers */

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale
}

.text-default {
  color: var(--text-default);
}

.text-heading {
  color: var(--text-heading);
}

.bg-primary {
  background: var(--primary);
}

.bg-default {
  background: var(--bg-default);
}

.bg-secondary {
  background: var(--bg-secondary);
}
