:root {
  --primary: var(--cyan-6);
  --text-default: var(--slate-gray-2);
  --text-heading: var(--slate-gray-0);
}

/* Setup */
html {
    font-feature-settings: "dlig", "ss07", "ss08", "cv01", "cv02", "cv03", "cv04", "cv05", "cv10"
}

html, body {
    scroll-behavior:smooth;
    line-height: var(--line-height-body);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height-heading);
}

a {
  color: var(--primary);
}

/* Helpers */

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale
}

.bg-primary {
  background: var(--primary);
}

.text-default {
  color: var(--text-default);
}

.text-heading {
  color: var(--text-heading);
}
